.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


    &__header {
        width: 100%;
    }

    &__title {
        margin-left: auto;
        margin-right: auto;
        font-weight: 600;
        color: $dark-grayish-blue;
        width: 80%;
    }

    &__description {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        font-size: 1rem;

        &--bottom {
            width: 50%;
            margin-bottom: 3rem;
        }

        @media only screen and (min-width: 768px) {
            width: 45%;
        }

    }


    &__img {
        max-width: 100%;
        margin-top: 1rem;

        &--left {
            @media only screen and (min-width: 768px) {
                width: 50%;
                transform: translateX(-20%);
            }
        }

    }

    &__body {
        width: 90%;

        @media only screen and (min-width: 768px) {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    &__features {
        margin-top: 2rem;

        &--text-left {
            @media only screen and (min-width: 768px) {
                text-align: left;
                width: 40%;
            }
        }

        &--inline {
            @media only screen and (min-width: 768px) {
                display: flex;
                justify-content: space-evenly;
            }
        }
    }


    &__feature {
        max-width: 100%;

        &:nth-of-type(n) {
            margin-bottom: 2rem;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        &--inline {
            @media only screen and (min-width: 768px) {
                width: 20%;
            }
        }

    }

    &__feature-title {
        margin: 0;
        font-weight: 600;
        color: $dark-grayish-blue;
    }

    &__feature-description {
        margin: 0;
        font-size: 1rem;
    }

    &__feature-img {
        padding: 1rem;
    }

}