.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lighten($grayish-blue, 30%);
    padding-bottom: 1rem;

    &__logo {
        width: 10%;
        margin: 2rem;
    }

    &__link {
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        padding: 0.5rem 0;
    }

    &__social-media {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 1rem 0;
    }
}

.attribution {
    background-color: lighten($grayish-blue, 30%);
}